/*----------FILE----------*/
body{
    background-color: #006AC6; 
    height: 100vh;
    width: 100vw;
    margin: auto;
    padding: 0 0 0 0;
 
    display: flex;
    flex-direction: column;
}

hr{
    border: 1px solid lightgrey;
}

/*----------HEADER----------*/
h1, h2{
    position: static;
    display: block;
    margin: 0.1rem 0.1rem 0.1rem 0.1rem;
}

.navbar{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: center;
}

.title-text{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: center;
    position: relative;
    margin-top: 0.4cm;
    margin-right: 0;
    margin-bottom: 6pt;
    margin-left: 10px;
}

a{
    display: inline;
    color: black;
    text-decoration: unset;
    text-align: center;
    background-color: #d3d3d3;
    border-style: solid;
    border-color:hsl(0, 0%, 50%);
    border-width: 3px;
    border-radius: 15px;
    padding-top: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    margin: 5px;
    max-width: 100%;
    min-width: fit-content;
}

a:hover{
    border: 3px solid rgb(211,211,211);
    background-color: #808080;
}

a:active{
    border: 3px solid #808080;
    background-color: grey;
}

/*----------MAIN----------*/
.main{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: center;
}

.recordings{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 10px;
}

#video{
    height: 200px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 1 / 2;
}

#audio{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 1 / 2;
}

#screenshot{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2 / 3;
}